body{
    margin: 0;
    background-image: url(../img/desk.jpg);
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 64px;
    line-height: 0;
    text-shadow: 5px 5px 1px black;
}

h2{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 29px;
    line-height: 0;
    text-shadow: 4px 4px 1px black;
}

.container{
    margin: 0 auto;
    width: 1140px;
}

.header_main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calc_main{
    display: flex;
    justify-content: center;
    margin-bottom: 110px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 520px;
    height: 1020px;
    border-radius: 35px;
    background-color: #5a5c68;
}

.input_group{
    width: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.description{
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 25px 0px 8px 0px;
}

.input{
    height: 100px;
    border: none;
    background-color: #c1d798;
    font-family: 'Orbitron', sans-serif;
    font-weight: 500;
    font-size: 75px;
    padding-left: 20px;
    border-radius: 15px;
}

.button_group{
    width: 440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.number_button{
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #111112;
    font-size: 60px;
    margin-bottom: 13px;
}

.calc_button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #858d9b;
    font-size: 60px;
}